html, body {
	font-family: Lato;
	margin: 0;
}
label {
	font-size: 16px;
}
input {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
}
button {
	background-color: rgba(14, 175, 141, 1);
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border: 1px solid #0eaf8d;
	border-radius: 7px;
	outline: none;
	cursor: pointer;
}
table {
	margin: 20px 0;
	text-align: left;
	font-size: 16px;
	width: auto;
	border-spacing: 0;
}
tr:nth-child(even){
	background: #e7ebec;
}
td,th {
	padding: 0 10px;
}
td, th:last-child {
	padding-right: 0;
}
td button {
	margin: 3px 6px;
}
td .cell-form {
	margin-bottom: 0;
}
caption {
	font-style: italic;
	text-align: right;
	color: #01795c;
}

.body-content {
	min-height: calc(100vh - 70px);
}

header {
	margin: 0;
	background-color: #aed9e6;
	display: -webkit-flex;
	display: flex;
}

.header-logo {
	-webkit-flex: 1;
	-ms-flex: 1;
	margin-left: 20px;
}

.header-logo-helper {
	display: inline-block;
	/*height: 100%;*/
	vertical-align: middle;
}

img {
	vertical-align: middle;
}

.header-info {
	-webkit-flex: 1;
	-ms-flex: 1;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}
.header-info h3 {
	margin: 0.75em 0;
}
.header-info-actions {
	margin: 5px 0 0 0;
}

footer {
	background-color: #aed9e6;
	text-align: center;
	height: 50px;
	padding: 5px;
}

section {
	display: -webkit-flex;
	display: flex;
	min-height: calc(100vh - 110px);
}

nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background: #ececec;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

.content {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	padding: 20px;
}

.content-title {
	padding-bottom: 20px;
	font-size: 20px;
}

.main {
	text-align: center;
	width: 100%;
	padding-top: 20px;
}

.form-item {
	padding: 10px 0;
}

.submit-button {
	padding-top: 15px;
}

.form-errors {
	padding-top: 15px;
	color: orangered;
}